{
  "openapi": "3.1.0",
  "info": {
    "title": "GroveX API Catalog API",
    "version": "1.0.0",
    "description": "Public discovery interface for GroveX APIs, published according to RFC 9727."
  },
  "servers": [
    {
      "url": "https://grovextech.com"
    }
  ],
  "paths": {
    "/.well-known/api-catalog": {
      "get": {
        "summary": "Retrieve the GroveX API catalog",
        "description": "Returns the RFC 9727 API catalog as a JSON Linkset.",
        "operationId": "getApiCatalog",
        "responses": {
          "200": {
            "description": "The current GroveX API catalog",
            "content": {
              "application/linkset+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiCatalog"
                }
              }
            }
          }
        }
      },
      "head": {
        "summary": "Discover the GroveX API catalog",
        "description": "Returns catalog metadata without a response body.",
        "operationId": "headApiCatalog",
        "responses": {
          "200": {
            "description": "API catalog discovery metadata",
            "headers": {
              "Link": {
                "description": "Link to the API catalog using the api-catalog relation.",
                "schema": {
                  "type": "string",
                  "example": "</.well-known/api-catalog>; rel=\"api-catalog\""
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LinkTarget": {
        "type": "object",
        "required": [
          "href"
        ],
        "properties": {
          "href": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ApiEntry": {
        "type": "object",
        "required": [
          "anchor",
          "service-desc",
          "service-doc"
        ],
        "properties": {
          "anchor": {
            "type": "string",
            "format": "uri"
          },
          "service-desc": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LinkTarget"
            }
          },
          "service-doc": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LinkTarget"
            }
          },
          "status": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LinkTarget"
            }
          }
        },
        "additionalProperties": true
      },
      "ApiCatalog": {
        "type": "object",
        "required": [
          "linkset"
        ],
        "properties": {
          "linkset": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ApiEntry"
            }
          }
        },
        "additionalProperties": false
      }
    }
  }
}
